MersalRobot/config.py
MersalRobot/*.session
MersalRobot/*.session-journal
MersalRobot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
MersalRobot/modules/helper_funcs/temp.txt
MersalRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
MersalRobot.session-journal
updates.txt
*.exe
